@import "./base.scss";

#logo-text {
    font-size: 1.3rem;
    letter-spacing: 1.9px;
    font-weight: 500;
}

.faded { color: $lg-text-faded }
.page-title { color: $lg-text-faded }
  
.region {
    background-color: hsla(0deg,0%,0%,25%);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    height: 100%;
}

.no-overflow {
    white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden;
}

.pulse { animation: pulse 1.5s infinite; }
@keyframes pulse {
	0% { opacity: .5; }
	50% { opacity: 1; }
	100% { opacity: .5; }
}

.spin { animation: spin 1.5s infinite; }
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

#landing-title {
    background-color: $navbar-background-color;
    .landing-title-logo {
        color: $primary; //primary blue
        filter: drop-shadow(0px 0px 10px #1d84e344);
    }
    .landing-title-text { 
        color: #fff; 
        filter: drop-shadow(0px 0px  10px  #1d84e355);
        opacity: '95%'; 
        letter-spacing: 3.5px;
    }  
}

#toast-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    >div {
        padding: .3rem 1rem;
        font-size: .9em;
        margin: .5em;
        box-shadow: $shadow;
        animation: fade 3s ease 1;
    }
}

@keyframes fade {
    0% { opacity:0%; }
    10% { opacity:100%; }
    90% { opacity:100%; }
    100% { opacity: 0%; }
}

.htmx-request { position: relative; }
.htmx-request::after {
    @include overlay();
    background-color: #0004;
    background-image: url('/static/oval.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    content: "";
}


body {
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    height: 100vh;
    overflow: hidden;
}

.card {
    border: 1px solid $border;
    .descriptions { font-size: .9rem; }
    .descriptions-title { color: $lg-text-faded; }
    .descriptions td { border: 0; text-wrap: nowrap; }
    .card-header {
        margin: 0 1em;
        padding: .5em 0;
        border-bottom: 1px solid $border;
    }
}

.box { border: 1px solid $border }

.home-card { min-width: 360px; width: 360px; max-width: 360px; }

nav {
    padding-left: 1rem;
    padding-right: 1rem;
}

#side-menu {
    background-color: $navbar-background-color;
    width: $lg-sidebar-width;
    height: 100%;
    position: fixed;
    top: 3.25rem;
    padding-top: 1em;
    transition: $lg-sidebar-transistion;
    left: 0;
    z-index: 10;

    @include until($tablet) {left: calc(-1 * $lg-sidebar-width);}

    #expand-button {
        visibility: hidden;
        color: $lg-text-faded;
        background-color: $lg-nav-background;
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
        position: absolute;
        left: $lg-sidebar-width;
        top: 5rem;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        display: flex;
        justify-content: center;
        align-items: center;
    
        @include until($tablet) { visibility: visible; }
    }
}

#side-menu.active {
    @include until($tablet) { left: 0; }
}

#main-layout {
    overflow-y: auto;
    height: calc(100% - $navbar-height);
    margin-top: $navbar-height;
    transition: $lg-sidebar-transistion;
    display: flex;
    flex-direction: column;
   
    #content { flex-grow: 1; }
}

#main-layout.loggedin {
    margin-left: $lg-sidebar-width;
    @include until($tablet) { margin-left: 0px; }
}

.table-container {
    >table { min-width: 480px; }
    td { white-space: nowrap; }
}