{% extends 'base/page.html' %}
{% block content %}
<section class="section">
  {% call page_header('Edit '~config.display_name) %}
  <button class="button is-small is-primary">
    <span class="icon is-small"><i class="bi bi-floppy"></i></span>
    <span>Save</span>
  </button>
  {% endcall %}
  <div class="card">
    <header class="card-header"><p class="card-header-title">Server Settings</p></header>
    <div class="card-content">
      <div class="container is-max-desktop">
        {% include 'editor/server_settings_form.html' %}
      </div>
    </div>
  </div>
  <div class="card mt-5">
    <header class="card-header"><p class="card-header-title">Game Settings</p></header>
    <div class="card-content">
      {% include 'editor/tribes_ascend/tribes_ascend_editor_form.html' %}
    </div>
  </div>
  <br/>

  <code style="margin-top: 2em; background: #222;">
    {{ config }}
  </code>

</section>
{% endblock %}