{% extends 'base/page.html' %}
{% block content %}
<section class="hero is-small" id="landing-title">
    <div class="hero-body">
        <div class="container has-text-centered">
            <span class="landing-title-logo">{% include 'assets/gen.svg' %}</span>
            <p class="title landing-title-text">LLAMAGRAB</p>
            <p class="subtitle landing-title-text">SERVERS</p>
        </div>
    </div>
</section>
<section class="hero is-small" >
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="is-uppercase faded has-text-weight-bold mb-4">Tribes Community Server Hosting</p>

            <div class="tile is-ancestor faded">
                <div class="tile is-vertical is-parent">
                  <div class="tile is-child">
                    <i class="bi bi-lightning-charge title is-1 faded"></i>
                    <p class="title is-6 is-uppercase faded mt-4">Performant</p>
                    <p>Run full 28-player matches without lag or jankiness. Servers launch and update in < 1 minute. Move regions instantly to minimize latency.</p>
                  </div>
    
                  <div class="tile is-child">
                    <i class="bi bi-sliders title is-1 faded"></i>
                    <p class="title is-6 is-uppercase faded mt-4">Customizable</p>
                    <p>Easy-to-use interface backed by the full power of&nbsp;
                        <a target='_blank' href='https://www.tamods.org/' class="is-underlined">TAMods</a>. No coding/lua required. Brand New community maps already installed</p>
                  </div>
                </div>
    
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child">
                      <i class="bi bi-cloud-check title is-1 faded"></i>
                      <p class="title is-6 is-uppercase faded mt-4">Reliable</p>
                      <p>Servers stay up as long as you want with 24/7 Cloud Hosting. Server history lets you experiment easily always go back to good settings.</p>
                    </div>
      
                    <div class="tile is-child">
                      <i class="bi bi-shield-plus title is-1 faded"></i>
                      <p class="title is-6 is-uppercase faded mt-4">Secure</p>
                      <p>Secure Against Cheaters and Abuse. Automatic admin access for your own servers. Easily share editing and admin rights with your community.</p>
                    </div>
                </div>
              </div>
        </div>
    </div>
</section>
<section class="hero is-small" >
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="is-uppercase faded has-text-weight-bold mb-4">Status</p>
        </div>
        {% with regions=regions %}{% include 'components/region_status.html' %}{% endwith %}
    </div>
</section>

{% endblock %}