@charset "utf-8";

// vars
$lg-background: #2f343c;
$lg-background-light: #404854;
$lg-nav-background: $lg-background-light;
$lg-component-background: #383e47;
$lg-component-background-dark: #24282e;
$lg-border: #22272d;
$lg-text: hsla(0deg,0%,100%,85%);
$lg-text-faded: hsla(0deg,0%,100%,60%);
$lg-primary: #1d84e3; 

$lg-sidebar-width: 240px;
$lg-sidebar-transistion: .2s;

$lg-font: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

// bulma vars
$primary: $lg-primary;
$body-background-color: $lg-background;

$family-sans-serif: $lg-font;
$text: $lg-text;
$text-light: $lg-text;
$text-strong: $lg-text;

$link: $lg-text-faded;
$link-hover: $primary;
$border: $lg-border;
$border-light: $lg-border;

$scheme-main: $lg-component-background;
$scheme-main-bis: $lg-component-background-dark;


$navbar-item-color: $lg-text-faded;
$navbar-background-color: $lg-nav-background;
$navbar-breakpoint: 0px; // never hide navbar-end
$table-head-background-color: hsla(0deg,0%,0%,30%);

$hr-background-color: $border;
$hr-height: 1px;

$section-padding: 2rem 1rem;

$footer-background-color: transparent;
$footer-padding: 2rem 1.5rem 2rem;

$menu-item-color: $lg-text-faded;
$menu-item-hover-background-color: #0001;
$menu-list-border-left: none;
$menu-list-link-padding: .5em 2em;

$card-shadow: none;
$card-header-shadow: none;
$card-content-padding: 1em;

$box-shadow: none;

$label-weight: 400;
$label-size: 14px;

$button-static-background-color: unset;

// tagify
$tag-text-color: $text;
$tag-bg: $lg-background-light;
$tag-hover: $lg-background-light;
$tags-border-color: $border;



// bootstrap-icons vars
// $bootstrap-icons-font-dir: "/static/fonts";
$bootstrap-icons-font-src: url("/static/fonts/bootstrap-icons.woff2") format("woff2"),
                           url("/static/fonts/bootstrap-icons.woff?") format("woff") !default;


@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-switch/src/sass/index.sass";
@import "../node_modules/@yaireo/tagify/src/tagify.scss";

:root {
  --tagify-dd-bg-color: #{$scheme-main};
}