{% from 'macros/icon.html' import icon %}
{% macro server_status(status, label=false) %}
{% set icon_class, class = {
    'running': ('check-circle', 'has-text-success'),
    'starting': ('clock', 'pulse has-text-warning'),
    'restarting': ('arrow-clockwise', 'spin has-text-warning'),
    'stopping': ('clock', 'pulse has-text-warning'),
    'disabled': ('pause-circle', 'has-text-light-grey'),
    'offline': ('x-circle', 'has-text-danger'),
    'unknown': ('question-circle', 'has-text-light-grey')
    }[status]
%}
{{ icon(icon_class, label=status.capitalize() if label else None,class=class) }}
{% endmacro %}
