<div class="columns is-centered" hx-get="/components/region_status" hx-target="this" hx-swap="outerHTML" hx-indicator="none" hx-trigger="every 10s">
  {% for region in regions %}
  <div class="column is-narrow">
    <div class="region">
      <div class="mt-1 columns is-mobile">
        <div class="column is-narrow is-align-items-center is-flex">
            {% set icon_name, class = ('check-circle-fill', 'has-text-success') if region.online else ('x-circle-fill', 'has-text-danger')%}
            {{ icon(icon_name, class=(class ~ " is-size-3 is-vcentered")) }}
        </div>
        <div class="column">
          <div class="title is-6">{{ region.region_name }}</div>
          <div class="subtitle is-7 is-uppercase faded">Region</div>
        </div>
      </div>

      {% if not region.servers %}
      <div class="has-text-centered faded">
        <i class="faded is-centered">No Active Servers</i>
      </div>
      {% endif %}
      {% for server in region.servers %}
      <div class="mt-4 is-size-6 no-overflow">
        <span>
          {{ server_status(server.status )}}
          {{ server_name(server.name, server.is_private) }}
        </span>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>