<div class="card lg-server-card" hx-indicator="this" hx-target="this" hx-swap="outerHTML">
  <header class="card-header">
    <p class="card-header-title">{{ server.name }}</p>
  </header>
  <div class="card-content">
    <table class="table is-fullwidth descriptions">
      <tr class="descriptions-title">
        <td>Status</td>
        <td>Region</td>
        <td>Game Type</td>
      </tr>
      <tr>
        <td>{{ server_status(server.status, true) }}</td>
        <td>{{ server.region_name }}</td>
        <td>{{ {'tribes_ascend_ootb': 'OOTB','tribes_ascend_goty': 'GOTY'}[server.game] }}</td>
      </tr>
    </table>
    {% if admin_mode %}
    <table class="table is-fullwidth descriptions">
      <tr class="descriptions-title">
        <td>id</td>
        <td>Owner</td>
      </tr>
      <tr>
        <td>{{ server.id }}</td>
        <td>{{ server.owner }}</td>
      </tr>
    </table>
    {% endif %}
  </div>
  <footer class="card-footer is-uppercase">
    {% if server.enabled %}
    <a class="card-footer-item" hx-post="/components/server_card/stop" hx-vals='{"id":{{server.id}}, "admin_mode":"{{admin_mode|default(false)}}"}'>
      {{ icon('power', 'stop') }}
    </a>
    {% else %}
    <a class="card-footer-item"  hx-post="/components/server_card/start" hx-vals='{"id":{{server.id}}, "admin_mode":"{{admin_mode|default(false)}}"}'>
      {{ icon('play-circle', 'start') }}
    </a>
    {% endif %}
    {% if server.enabled and server.status == 'running' %}
    <a class="card-footer-item" hx-post="/components/server_card/restart" hx-vals='{"id":{{server.id}}, "admin_mode":"{{admin_mode|default(false)}}"}'>
      {{ icon('arrow-clockwise', 'restart') }}
    </a>
    {% endif %}
    <a href="/edit_server/{{server.id}}" class="card-footer-item" hx-boost="true" hx-target="#content" hx-swap="innerHTML" hx-on:click="this.closest('.modal').remove()">
      {{ icon('pencil', 'edit') }}
    </a>
  </footer>
</div>