<div class="card lg-server-card m-3">

  <header class="card-header">
    <p class="card-header-title">
      {{ server.name }}
    </p>
    <!-- <span class="icon">
        <i class="bi bi-link-45deg"></i>
    </span> -->
  </header>

  <div class="card-content">
    <table class="table is-fullwidth descriptions">
      <tr class="descriptions-title">
        <td>Status</td>
        <td>Region</td>
        <td>Game Type</td>
      </tr>
      <tr>
        <td>{{ server_status(server.status, true) }}</td>
        <td>{{ server.region_name }}</td>
        <td>
          {{
          {
          'tribes_ascend_ootb': 'OOTB',
          'tribes_ascend_goty': 'GOTY',
          }[server.game]
          }}
        </td>
      </tr>
    </table>
  </div>

  <footer class="card-footer is-uppercase">
    <a href="#" class="card-footer-item">
      {{ icon('play-circle', 'start') }}
    </a>
    <a href="#" class="card-footer-item">
      {{ icon('arrow-clockwise', 'restart') }}
    </a>
    <a href="#" class="card-footer-item">
      {{ icon('pencil', 'edit') }}
    </a>

  </footer>

</div>