<div class="card lg-server-card" hx-indicator="this" hx-target="this" hx-swap="outerHTML">
  <header class="card-header">
    <p class="card-header-title">{{ server.name }}</p>
  </header>
  <div class="card-content">
    <table class="table is-fullwidth descriptions">
      <tr class="descriptions-title">
        <td>Status</td>
        <td>Region</td>
        <td>Game Type</td>
      </tr>
      <tr>
        <td>{{ server_status(server.status, true) }}</td>
        <td>{{ server.region_name }}</td>
        <td>{{ {'tribes_ascend_ootb': 'OOTB','tribes_ascend_goty': 'GOTY'}[server.game] }}</td>
      </tr>
    </table>
    {% if is_admin %}
    <table class="table is-fullwidth descriptions">
      <tr class="descriptions-title">
        <td>id</td>
        <td>Owner</td>
      </tr>
      <tr>
        <td>{{ server.id }}</td>
        <td>{{ server.owner }}</td>
      </tr>
    </table>
    {% endif %}
  </div>
  <footer class="card-footer is-uppercase" hx-vals='{"id":{{server.id}}, "is_admin":"{{is_admin|default(false)}}"}'>
    {% if server.enabled %}
    <a class="card-footer-item" hx-post="/components/server_card/stop" >
      {{ icon('power', 'stop') }}
    </a>
    {% else %}
    <a class="card-footer-item"  hx-post="/components/server_card/start">
      {{ icon('play-circle', 'start') }}
    </a>
    {% endif %}
    {% if server.enabled and server.status == 'running' %}
    <a class="card-footer-item" hx-post="/components/server_card/restart">
      {{ icon('arrow-clockwise', 'restart') }}
    </a>
    {% endif %}
    <a href="#" class="card-footer-item">
      {{ icon('pencil', 'edit') }}
    </a>
  </footer>
</div>