{% extends 'base/page.html' %}
{% block content %}
<section class="section">
  <h1 class="title is-4 is-uppercase page-title">Audit Log</h1>
  <div class="table-container">
    <table class="table is-fullwidth is-hoverable is-size-7">
      <thead>
        <td>Timestamp</td>
        <td>User</td>
        <td>Details</td>
      </thead>
      <tbody>
          {% for item in audit_log %}
              <tr>
              <td>{{ item.formatted_date }}</td>
              <td>{{ item.user_name }}</td>
              <td class="is-family-monospace">{{ item.details }}</td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}