{% extends 'base/page.html' %}
{% block content %}
<section class="section">
  <h1 class="title is-4 is-uppercase page-title">Server Management</h1>
  <div class="table-container">
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <td class="is-hidden-touch">id</td>
        <td>Name</td>
        <td>Status</td>
        <td>Region</td>
        <td>Owner</td>
      </thead>
      <tbody>
          {% for server in servers %}
              <tr>
              <td class="is-hidden-touch">{{ server.id }}</td>
              <td>
                {% if server.is_private%}<i class="icon bi-lock"></i>{% endif %}
                {{ server.name }}</td>
              <td>
                  {% with status=server.status %}
                    {% include 'components/server_status.html' %}
                  {% endwith %}
              </td>
              <td>{{ server.region_name }}</td>
              <td>{{ server.owner.username }}</td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}