{% extends 'base/page.html' %}
{% block content %}
<section class="section">
  <h1 class="title is-4 is-uppercase page-title">Server Management</h1>
  <div class="table-container">
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <td class="is-hidden-touch">id</td>
        <td>Name</td>
        <td>Status</td>
        <td>Region</td>
        <td>Owner</td>
      </thead>
      <tbody>
          {% for server in servers %}
              <tr id='{{server.id}}' hx-get='/admin/servers/server_card' hx-target="body" hx-swap="beforeend" hx-indicator="#content">
              <td class="is-hidden-touch">{{ server.id }}</td>
              <td>
                {{ server_name(server.name, server.is_private) }}
              </td>
              <td>
                {{ server_status(server.status) }}
              </td>
              <td>{{ server.region_name }}</td>
              <td>{{ server.owner }}</td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}