{% extends 'base/page.html' %}

{% block content %}
<section class="section">
    <h1 class="title is-4 is-uppercase page-title">Site Settings</h1>
    <div class="columns is-centered">
        <div class="column is-three-quarters-desktop p-5">
            <div class="box mt-5" hx-indicator="this">
                <h1 class="title is-5">Flags</h1>
                {% block site_flags %}
                <form id="site_flags" hx-target="this" hx-swap="outerHTML">
                    
                    {% macro flag_toggle(name, label, help=none) %}
                    <div class="field">
                        <input 
                            id="{{ name }}" 
                            class="switch is-rounded" 
                            type="checkbox" 
                            name="{{ name }}" 
                            {{ "checked" if flags[name] else "" }}
                            hx-post="/admin/site/flags" 
                            >
                        <label for="{{ name }}">{{ label }}</label>
                        {% if help %}<p class="help">{{help}}</p>{% endif %}
                    </div>
                    {% endmacro %}

                    {{ flag_toggle('disable_new_accounts', 'Disable New Accounts')}}
                    {{ flag_toggle('disable_unverified_accounts', 'Disable Un-Verified Users', help="All unverified-tier users will be unable to log in or make changes." )}}
                    {{ flag_toggle('disable_non_admin_accounts', 'Disable Non-Admin Users', help="All users other than Admin+ (including unverified) will be unable to log in or make changes." )}}
                    
                    <hr/>
                    {% call field_horizontal('Loginserver') %}
                    <div class="select">
                        <select id='loginserver' name="loginserver" value="{{ flags['loginserver'] }}" hx-post="/admin/site/flags">
                            {% for loginserver in loginservers %}
                                <option value="{{ loginserver.url }}" {{ "selected" if loginserver.url == flags['loginserver'] else ""}}>
                                    {{ loginserver.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <p class="help">Set the loginserver URL for all servers. Must "Request Sync" after changing this setting</p>
                    {% endcall %}
                </form>
                {% endblock %}
            </div>

            <div class="box mt-5" hx-indicator="this">
                <h1 class="title is-5">Actions</h1>
                {% block site_actions %}
                <div id="site_actions" hx-swap="outerHTML">
                    {% call field_horizontal('Request Sync') %}
                        <button class="button is-primary" hx-post="/admin/site/request_sync" hx-target="#site_actions">Sync</button>
                        <p class="help">Re-generate all server configs. Will update & restart any mismatching servers.</p>
                    {% endcall %}
    
                    {% call field_horizontal('Restart All Servers') %}
                        <button class="button is-danger"  hx-post="/admin/site/restart_all" hx-target="#site_actions">Restart</button>
                        <p class="help">Force re-create all servers with their current config. (Do Not Spam)</p>
                    {% endcall %}
    
                    {% call field_horizontal('Disable All Servers') %}
                    <button class="button is-danger"  hx-post="/admin/site/disable_all" hx-target="#site_actions">Disable</button>
                    <p class="help">Stop all enabled servers.</p>
                    {% endcall %}
    
                    {#
                    {% call field_horizontal('Push Banlist') %}
                    <button class="button is-primary">Push</button>
                    <p class="help">Re-push IP bans to all regions.</p>
                    {% endcall %}
                    #}
                </div>
                {% endblock %}
            </div>
        </div>
    </div>    

</section>
{% endblock %}