{% extends 'base/page.html' %}
{% block content %}
<section class="section">
  <form action="/login", method="POST">
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" name="username" type="text" placeholder="Username">
        <span class="icon is-small is-left">
          <i class="bi-person"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" name="password" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="bi-lock"></i>
        </span>
      </p>
    </div>
    {% if unauthorized %}
    <div class="notification is-danger is-small">
      <i class="bi-exclamation-circle"></i> Invalid username or password
    </div>
    {% endif %}
    <div class="field">
      <p class="control">
        <input class="button is-primary" type="submit" value="Login"/>
      </p>
    </div>
  </form>
</section>
{% endblock %}