{% extends 'base/page.html' %}
{% block content %}
<section class="section">
  <h1 class="title">Server Card</h1>
  <div class="container">
    <div class="is-flex-direction-row is-flex-wrap-wrap	is-justify-content-flex-start">
        {%for server in servers %}
            <div class="is-inline-flex">
                    {% with server=server %}{% include 'components/server_card.html' %}{% endwith %}
            </div>
        {% endfor %}
    </div>
  </div>
</section>

<section class="section">
    <h1 class="title">Region Status</h1>
    <div class="region">
        <div class="columns is-mobile">
          <div class="column is-narrow is-align-items-center is-flex">
            <span class="icon">
              {% set online = false %}
              {% set icon_class = 'bi-check-circle-fill has-text-success' if online else 'bi-x-circle-fill has-text-danger'%}
              <i class="bi is-size-3 is-vcentered {{icon_class}}"></i>
            </span>
          </div>
          <div class="column">
            <div class="title is-6">NA Central</div>
            <div class="subtitle is-7 is-uppercase faded">Region</div>
          </div>
        </div>
        {% for server in running %}
            <div class="mt-2">
                {{ server_status(server.status) }}
                {{ server_name(server.name) }}
            </div>
        {% endfor %}
    </div>

</section>



{% endblock %}
