{% call field_horizontal('Region') %}
<div class="select">
  <select name="settings.region">
    {% for region in regions.values() %}
    <option value="{{ region.key }}">{{ region.name }}</option>
    {% endfor %}
  </select>
</div>
{% endcall %}

{% call field_horizontal('Editors') %}
<input name='settings.editors' class='input' placeholder='Search...' value=''>
<p class="help">Other llamagrab users that can edit this server's settings</p>
{% endcall %}

<script>
  var input = document.querySelector('input[name="settings.editors"]');
  const usernames =  [{%for user in users%}"{{user.username }}",{% endfor %}];
  const count = {{users|length}};
  // init Tagify script on the above inputs
  tagify = new Tagify(input, {
    whitelist:  usernames, 
    enforceWhitelist : true,
    maxTags: 10,
    dropdown: {
      maxItems: count,
      enabled: 0,
      closeOnSelect: false
    }
  });
</script>