@import 'antd/lib/style/themes/dark.less';
@import 'antd/dist/antd.dark.less';


// list of vars
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
//@body-background: #141414;
@body-background: #000000;
@component-background: #191c24;
//@input-bg: #2c3139;

@card-head-background: @component-background;

@border-color-base: #22272d;
@border-color-split: @border-color-base;

// header inherits this
@popover-background: #191c24;

@table-header-bg: rgba(0,0,0,.3);

@logo-color: #dddddd;

body, #root {
 overflow: hidden;
}



.ant-layout-header h1 {
  color: #dddddd;
}

.ant-list .ant-card {
  background: @component-background;
}

.ant-divider-horizontal {
  margin: 16px 0;
}

.ant-card .ant-divider-horizontal {
  border-color: @border-color-base;
  opacity: .6;

}

.action-delete:hover {
  color: @error-color;
  transition: 0.3s;
}

.not-visible {
  visibility: hidden;
}

.form-card  {
  width: 100%;
}


// @import 'antd/lib/style/themes/default.less';
// @import 'antd/dist/antd.less';