<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/favicon.ico"/>
    <title>Llamagrab Web2</title>
    <link rel="stylesheet" href="/static/css/llamagrab.css">
    <script src="/static/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="toast-container"></div>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <span id="logo-text" class="icon-text has-text-link">
            <span class="icon">{% include "assets/gen.svg" %}</span>
            <span>LLAMAGRAB</span>
          </span>
        </a>
      </div>
      <div class="navbar-menu"  hx-indicator="#content">
        <div class="navbar-end">
          {% if request.ctx.user is not none %}
          <a href="/settings" class="navbar-item is-uppercase" hx-boost="true" hx-target="#content">
            {{ icon('gear-fill', request.ctx.user.username) }}
          </a>
          {% else %}
          <a href="/login" class="navbar-item is-uppercase"  hx-boost="true" hx-target="#content">
            <span>Login</span>
          </a>
          {% endif %}
        </div>
      </div>
    </nav>
    {% if request.ctx.user is not none %}
    <aside id='side-menu' class="menu" hx-indicator="#content">
      <ul class="menu-list">
        <li>
          <a href="/" class="navbar-item" hx-boost="true" hx-target="#content">{{ icon('hdd-rack-fill', 'Servers') }}</a>
        </li>
        <li>
          <a href="/regions" class="navbar-item" hx-boost="true" hx-target="#content">
            {{ icon('globe2', 'Regions' )}}
          </a>
        </li>
      </ul>
      <ul class="menu-list">
        <li><a>{{ icon('eye-fill', 'Admin' )}}</a></li>
        <li>
          <ul>
            <li><a href="/admin/users" class="navbar-item" hx-boost="true" hx-target="#content">Users</a></li>
            <li><a href="/admin/servers" class="navbar-item" hx-boost="true" hx-target="#content">Servers</a></li>
            <li><a href="/admin/site" class="navbar-item" hx-boost="true" hx-target="#content">Site</a></li>
            <li><a href="/admin/iplogs" class="navbar-item" hx-boost="true" hx-target="#content">IPs & Bans</a></li>
            <li><a href="/admin/audit" class="navbar-item" hx-boost="true" hx-target="#content">Audit Log</a></li>
          </ul>
        </li>
      </ul>
      <div id="expand-button">
        {{icon('list')}}
      </div>
    </aside>
    {% endif %}
    <div id="main-layout" class="{{'loggedin' if request.ctx.user else ''}}">
      <div id="content" class="is-relative">
        {% block content %}
        {% endblock %}
      </div>
      <footer class="footer mt-auto">
        <div class="content has-text-centered">
          <p>
            &copy; 2021-{{ request.app.ctx.current_year }} <a href='mailto:admin@llamagrab.net' class="is-underlined">admin@llamagrab.net</a>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>